/*Esto es para acomodar el fondo completo*/
*{
    margin: 0;
}
main{
    display: flex;
}

.titulo{
    color: green;
    height: 5vh;
}

.menu{
    margin-top: 2vh;
    background-color: rgb(76, 161, 76);
    padding: 20px;
    color: white;
    height: 5vh;
}

h3{
    padding: 10px;
}

.contenido{
    height: 61.9vh;
    display: flex;
    justify-content: center;
}

footer{
    background-color: black;
    color: white;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Dentro de la tabla, le dí un margen con respecto a la parte superior de la pantalla*/

/*A las celdas, le agregué una función en el cual pasando por encima el cursor, agranda la celda con el valor especificado*/
td:hover{
    scale: 1.3;
/*En la cabecera le agregue el font de google y sus especificaciones concretas y cambie unos parámetros*/   
}
.cabecera{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    background-color: rgb(177, 248, 177) ;
    border-radius: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 30px;
  
  }
/*Las clases creadas, estan utilizadas para cambiar, los días y las celdas*/
.dias{
    background-color: rgb(133, 213, 133) ;
    border-radius: 15px;
    padding: 5px;
    width: 5cm;
    text-align: center;  
    font-weight:100;
    font-size: 20px;
}
td{
    text-align: center;
    border-style: solid ;
    width: 4vw;
    height:6vh;
    font-size: 20px;
}
.programacion{
    background-color:rgb(240, 128, 128);
    font-size: 20px;
}
.base{
    background-color:rgb(244, 244, 110) ;
    font-size: 20px;
}
.entornos{
    background-color:rgb(57, 202, 246) ;
    font-size: 20px;
}

.fol{
    background-color: rgb(245, 200, 116);
    font-size: 20px;
}
.lenguaje{
    background-color: rgb(183, 124, 238);
    font-size: 20px;
}
.sosten{
    background-color: pink;
    font-size: 20px;
}
.sistemas{
    background-color: aquamarine;
    font-size: 20px;
}
.digital{
    background-color: rgb(242, 102, 221);
    font-size: 20px;
}
/*Utilicé el un espacio entre letras para que la fila no quede tan vacia y ademáa
se especificaba en la práctica*/
.recreo{
    letter-spacing: 80px;
    text-align: center;
    background-color: chartreuse;
    font-size: 30px;
}
